@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}


body{
    background-image: url('fotos\ body/body1.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

main{
    min-width: 300px;
    max-width: 800px;
    background-color: black;
    margin: auto;
    display: block;
    background-image: url(fotos\ body/body2.jfif);
    background-attachment: fixed;
    background-size: cover;
    

    
}

article{
    background-color: rgb(0, 0, 0);
    text-align: right;
    font-size: 2vw;
}

article>h1{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 2em;
}

a{
    color: white;
    padding: 10px;
    font-size: 1em;
    
}

header{
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.711);
    
    

}

header>h1{
    padding-bottom: 20px;
    color: black;
    text-align: center;
    font-size: 4vw;
    
    

} 

header>p{
    width: 400px;
    color: black;
    padding: 15px; 
    color: white;
    margin: auto;
    display: block;
    position: sticky;
    font-size: 1em;
}

table{
    width: 400px;
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
    overflow-x:auto;
    
}

th{
    border: solid black;
    padding: 5px;
}

tr{
    border: solid black;
    text-align: left;
    color:white;
    padding: 5px;
}

.h1{
    text-align: center;
    color:black;
} 
.th{
    color:black;
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    position: sticky;
    font-size: 1vw ;
}

td{
    text-align: center;
}

.img{
    padding-right: 5px;
    margin-top: 10px;
    
}

section{
    background-color:  rgba(0, 0, 0, 0.711);
}